.projects {
  padding-top: 90px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #e6e2dd;
  color: #373a36;
}

.project-list {
  width: 80vw;
  margin: 0 auto;
}

.project-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid black; */
  padding: 1rem;
}

.project-card:first-child {
  border-bottom: 1px solid #373a36;
}

.project-img {
  max-width: 500px;
}

.project-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.project-info > h3 {
  font-size: 1.8rem;
  margin: 0;
  /* color: #d48166; */
}

.project-info > h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: #d48166;
}

/* .project-desc {
  background-color: #373a36;
  color: #fff;
  padding: 1rem;
} */

.project-stack {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.project-links {
  font-size: 1.4rem;
  display: flex;
  gap: 1rem;
}

.project-links > a {
  color: #373a36;
}

.project-links > a:hover {
  transform: scale(1.4);
}
