.resume {
  width: 100%;
  height: 100%;
  padding-top: 90px;
  color: #fff;
}

.resume-title {
  text-align: center;
  font-size: 2.5rem;
}

.tabs {
  display: flex;
  width: 80%;
  max-width: 1000px;
  border: 1px solid #aaa;
  box-shadow: 0px 3px 3px 3px #474b4f;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
}

.tab-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding-right: 1rem;
  border-right: 1px solid #aaa;
}

.tab-title {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.3rem 1rem;
  margin-bottom: 0.5em;
  line-height: 1.7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tab-title:hover {
  color: #474b4f;
  background: #fff;
}

.active-tabs {
  background: #d48166;
  color: #fff;
}

.resume-info {
  width: 70%;
  padding-top: 0;
}

.content h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

.content h4 {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #373a36;
  background: #e6e2dd;
  padding: 0.4rem 0.7rem;
  margin-top: 0.5em;
  border-radius: 0.25rem;
}

.dates {
  letter-spacing: 1px;
  margin: 0.1em;
}

.content {
  display: none;
  padding: 1rem;
}

.content span {
  color: #d48166;
}

.active-content {
  display: flex;
  flex-direction: column;
}

.job-desc p {
  margin: 0;
}

.job-icon {
  font-size: 1.2rem;
  color: #d48166;
  margin-right: 0.5rem;
}

.skills,
.interests {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.skill,
.interest {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill > i,
.interest > i {
  font-size: 4rem;
}

.btn {
  text-transform: uppercase;
  background: #d48166;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  transition: all 0.3s linear;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  padding: 0.7rem 2rem;
  margin: 3rem auto;
}
.btn:hover {
  color: #474b4f;
  background: #fff;
}

@media screen and (max-width: 980px) {
  .resume {
    height: 100%;
  }

  .tab-list {
    width: 40%;
  }
}

@media screen and (max-width: 780px) {
  .resume-title {
    font-size: 2.2rem;
  }
  .tabs {
    width: 85%;
    flex-direction: column;
  }

  .tab-list {
    width: 100%;
    border-right: none;
  }

  .tab-title {
    text-align: center;
  }

  .tab-list > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #e6e2dd;
  }

  .tab-list li {
    border-radius: 10px;
  }

  .resume-info {
    width: 100%;
  }

  .content h3 {
    font-size: 1.2rem;
  }
}
