.about-me {
  padding-top: 90px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #e6e2dd;
  color: #373a36;
}

.title {
  text-align: center;
  font-size: 2.2rem;
}

.about-container {
  width: 60%;
  height: auto;
  margin: auto;
  padding: 3rem 4rem;
  border: 1px solid #f0ebf4;
  border-radius: 10px;
  box-shadow: 0px 3px 3px 3px #474b4f;
}

@media screen and (max-width: 820px) {
  .about-container {
    width: 80%;
  }

  .about-me > h2 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    padding: 1rem;
  }
}
