@import "../../variables.scss";

.footer {
  background-color: $dark-grey;
  border-top: 2px solid $white;
  height: 80px;
  padding: 0 4em;

  @media (max-width: $layout-breakpoint-medium) {
    padding: 2rem 1.5rem
  }

  .large-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.copyright {
  color: $white;
}

.footer-links {
  display: flex;
  gap: 1em;
  list-style: none;
}

.footer-links a {
  color: $white;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .footer-links {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    height: 120px;
    padding: 1em;
  }

  .footer-links a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 340px) {
  .footer {
    height: 160px;
    line-height: 1;
  }
}